body {
    font: 12pt/120% Roboto, serif;
    font-family: courier, serif;
    text-indent: 35.45pt;
    /*margin: 0 10% 2em;*/
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

.caption {
    font: italic 12pt/120% Roboto, serif;
    margin: 0pt 0pt 0pt 0pt;
    padding: 2pt 15pt 3pt 15pt;
    text-align: center;
}